<html>
    <head>
        <%- include ('_headcontent'); %>
    </head>
    <body>
        <%- include('_header'); %>
        <div class="search">
            <input id="searchbox">
        </div>
        <script src="/js/search.js"></script>
        <div class="searchresponse"></div>
    </body>
</html>