<html>
    <head>
        <%- include ('_headcontent'); %>
    </head>
    <body>
        <%- include('_header'); %>
        <div class="search-container">
            <div class="search">
                <input id="searchbox" placeholder="Search iView's index...">
            </div>
            <div class="searchresponse"></div>
        </div>
        <script src="/js/search.js"></script>
    </body>
</html>